body{
    font-family: 'Gill Sans', 'sans-serif';
    background-color: black;
}

#container{
 width: 1000px;
 height: 550px;
 background-color: aqua; 
 margin: 20px auto;  
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: blue;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: black;

}
#result{
    height: 120px;
}
#history{
  text-align: right;
  height: 30px;
  margin: 0 20px;
  padding-top: 20px;
  
  font-size: 15px;
  color: rgb(239, 233, 245); 
  background-color: crimson;
}
#output{
 text-align: right;
 height: 50px;
 margin: 10px 20px;
 font-size: 30px;
 background-color: yellow;

}

#keyboard{
    height: 400px;

}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 30%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;

}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;

}
button:nth-child(4){
  font-size: 20px;
  background-color: #0dce0d;  
}
button:nth-child(8){
    font-size: 20px;
    background-color: chartreuse;  
  }
  button:nth-child(12){
    font-size: 20px;
    background-color: #e2861d;  
  }
  button:nth-child(16){
    font-size: 20px;
    background-color: #ee16ca;
  
  }
  button:nth-child(20){
    font-size: 20px;
    background-color: #a30808;  
  }
